html,
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #090909;
}

.flex {
  display: flex;
}

nav {
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.flex-nav {
  display: flex;
  align-items: center;
  gap: 0.19rem;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  margin-left: 2em;
}

nav h3 {
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  letter-spacing: -0.03em;
  margin: 0;
}

.logo img {
  width: 1.45rem;
  height: 1.45rem;
}

.blog-post img {
  width: 50%;
}
